<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Report</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Search Results for "{{keyword}}"</h1>
        <a target="_blank" href="/export?keyword={{keyword}}">Export to file</a>
      </hgroup>
      <figure>
        <table role="grid">
          <thead>
            <tr>
              <th>company</th>
              <th>position</th>
              <th>location</th>
              <th>date</th>
              <th>option</th>
              <th>link</th>
            </tr>
          <thead>
          <tbody>
          {% for job in jobs %}
            <tr>
              <td>{{job.company}}</td>
              <td>{{job.position}}</td>
              <td>{{job.location}}</td>
              <td>{{job.date}}</td>
              <td>{{job.option}}</td>
              <td><a herf="{{job.link}}" target="_blank">Apply now&rarr;</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </figure>
    </main>
  </body>
</html>
